{{ with .Site.Params.modules.neodoc.banner }}
    {{ partial "banner.html" . }}
{{ end -}}

{{ with .Page.Params.banner }}
    {{ partial "banner.html" . }}
{{ end }}

<div class="flex justify-between p-4">
    <em class="text-xl not-italic font-bold">
        <a href="/">{{ site.Title }}</a>
    </em>

    <div class="flex gap-5">
        <button x-on:click="showSearch = !showSearch">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="m21 21l-4.34-4.34" />
                    <circle cx="11" cy="11" r="8" />
                </g>
            </svg>
        </button>

        <button x-on:click="showMenuStatic = !showMenuStatic">
            <template x-if="!showMenuStatic">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <circle cx="12" cy="12" r="1" />
                        <circle cx="12" cy="5" r="1" />
                        <circle cx="12" cy="19" r="1" />
                    </g>
                </svg>
            </template>

            <template x-if="showMenuStatic">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M18 6L6 18M6 6l12 12" />
                </svg>
            </template>
        </button>
    </div>
</div>

<div
    class="bg-nav2 dark:bg-nav absolute w-full h-screen pt-8"
    x-show="showMenuStatic"
    x-transition
>
    <nav class="max-w-3xs mx-auto text-xl text-center">
        <ul class="mb-8">
            {{ with .Site.Menus.header_static }}
            {{ range . }}
            <li class="my-5"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
        </ul>

        <!-- <div>lang select</div>
        <div>theme</div>
        <div>socials</div> -->
    </nav>
</div>

<div x-show="showSearch" x-transition class="bg-nav2 dark:bg-nav absolute top-0 left-0 w-full h-screen">
    <div class="flex gap-4 items-center p-4">
        <button x-on:click="showSearch = ! showSearch">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m12 19l-7-7l7-7m7 7H5" />
            </svg>
        </button>

        <form action="">
            <input type="search" placeholder="Type to search" autofocus class="
                w-full
                focus:outline-none
            ">
        </form>
    </div>
</div>

<div class="flex justify-between px-4 py-3">
    <div class="flex gap-3 items-center">
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 18H3M17 6H3m18 6H3" />
            </svg>
        </button>
        Frame > Bottom Bracket
    </div>

    <button  x-on:click="showToc = !showToc">
        <template x-if="!showToc">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M16 12H3m13 6H3M16 6H3m18 6h.01M21 18h.01M21 6h.01" />
            </svg>
        </template>

        <template x-if="showToc">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M18 6L6 18M6 6l12 12" />
            </svg>
        </template>
    </button>
</div>

<div x-show="showToc" x-data="closeToc()" @click="closeToc($event)" class="bg-nav2 dark:bg-nav absolute w-full px-4 py-5" x-transition>
    <h3 class="uppercase text-sm mb-3">On this page</h3>
    {{ .Page.TableOfContents }}
</div>
