{{ with .Site.Params.modules.neodoc.banner }}
    {{ partial "banner.html" . }}
{{ end -}}

{{ with .Page.Params.banner }}
    {{ partial "banner.html" . }}
{{ end }}

<!-- Main title bar -->
<div class="max-w-7xl mx-auto flex justify-between p-4">
    <em class="text-xl not-italic font-bold">
        <a href="{{ .Site.Home.RelPermalink }}">{{ site.Title }}</a>
    </em>

    <div class="flex gap-5">
        <!-- Search button -->
        <button @click="showSearch = !showSearch; overflowHidden = true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="m21 21l-4.34-4.34" />
                    <circle cx="11" cy="11" r="8" />
                </g>
            </svg>
        </button>

        <!-- Static menu button -->
        <button @click="showMenuStatic = !showMenuStatic; overflowHidden = !overflowHidden">
            <!-- Dot menu icon -->
            <template x-if="!showMenuStatic">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <circle cx="12" cy="12" r="1" />
                        <circle cx="12" cy="5" r="1" />
                        <circle cx="12" cy="19" r="1" />
                    </g>
                </svg>
            </template>

            <!-- Close icon -->
            <template x-if="showMenuStatic">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M18 6L6 18M6 6l12 12" />
                </svg>
            </template>
        </button>
    </div>
</div>

<!-- Static menu -->
<div
    class="bg-nav2 dark:bg-nav absolute w-full h-screen pt-8"
    x-show="showMenuStatic"
    x-transition
>
    <nav class="max-w-3xs mx-auto text-xl flex flex-col gap-8 items-center">
        <ul>
            {{ with .Site.Menus.header_static }}
            {{ range . }}
                <li class="my-5"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
        </ul>

        <!-- <div>lang select</div>-->

        {{ partialCached "socials.html" . }}
    </nav>
</div>

<!-- Search -->
<div x-show="showSearch" x-transition class="bg-nav2 dark:bg-nav absolute top-0 left-0 w-full h-screen">
    <div class="flex gap-4 items-center p-4">
        <button @click="showSearch = ! showSearch; overflowHidden = false">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m12 19l-7-7l7-7m7 7H5" />
            </svg>
        </button>

        <form action="">
            <input type="search" placeholder="Type to search" autofocus class="
                w-full
                focus:outline-none
            ">
        </form>
    </div>
</div>

<!-- Mobile navigation menus -->
<div class="flex justify-between px-4 py-3">
    <div class="flex gap-3 items-center">
        <button @click="showOffcanvas = true; overflowHidden = true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 18H3M17 6H3m18 6H3" />
            </svg>
        </button>
        Frame > Bottom Bracket
    </div>

    <!-- Toggle table of contents button -->
    <button  x-on:click="showToc = !showToc">
        <!-- Menu icon -->
        <template x-if="!showToc">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M16 12H3m13 6H3M16 6H3m18 6h.01M21 18h.01M21 6h.01" />
            </svg>
        </template>

        <!-- Close icon -->
        <template x-if="showToc">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M18 6L6 18M6 6l12 12" />
            </svg>
        </template>
    </button>
</div>

<!-- Table of contents for current page -->
<div x-show="showToc" x-data="closeToc()" @click="closeToc($event)" class="bg-nav2 dark:bg-nav absolute w-full px-4 py-5" x-transition>
    <h3 class="uppercase text-sm mb-3">On this page</h3>
    {{ .Page.TableOfContents }}
</div>

<!-- Offcanvas Overlay -->
<div x-show="showOffcanvas" @click="showOffcanvas = false; overflowHidden = false" x-transition.opacity class="fixed inset-0 bg-black/50 z-40 transition-gpu"></div>

<!-- Mobile offcanvas menu -->
<div x-show="showOffcanvas"
    class="bg-nav2 dark:bg-nav fixed top-0 left-0 w-2xs h-full z-50 p-4 transition-gpu"
    x-transition:enter-start="-translate-x-full"
    x-transition:enter="transition ease-out duration-300"
    x-transition:enter-end="translate-x-0"

    x-transition:leave-start="translate-x-0"
    x-transition:leave="transition ease-in duration-200"
    x-transition:leave-end="-translate-x-full"
>
    <nav class="space-y-2">
        <a href="#" class="block text-blue-600 hover:underline">Home</a>
        <a href="#" class="block text-blue-600 hover:underline">About</a>
        <a href="#" class="block text-blue-600 hover:underline">Contact</a>
    </nav>
</div>
