<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>

<body class="
    bg-zinc-100 dark:bg-zinc-900
    text-zinc-900 dark:text-zinc-100
    text-lg
"
    x-data="{ showMenuStatic: false, showSearch: false }"
    :class="{ 'overflow-hidden': showMenuStatic || showSearch }"
>
    <header class="sticky top-0 bg-zinc-950" x-data="{ showToc: false }">
        {{ partial "header.html" . }}
    </header>
    <main class="p-4 snap-y">
        {{ block "main" . }}{{ end }}
    </main>
    <footer>
        {{ partial "footer.html" . }}
    </footer>
</body>
</html>
