<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>

<body
    class="bg-brand-50 dark:bg-brand-950 text-brand-950 dark:text-brand-50 text-lg"
    x-data="{ overflowHidden: false }"
    :class="{ 'overflow-hidden': overflowHidden }"
>
    <header
        class="bg-nav2 dark:bg-nav sticky top-0"
        x-data="{ showMenuStatic: false, showSearch: false, showToc: false, showOffcanvas: false }">
        {{ partial "header.html" . }}
    </header>

    <main class="p-4 snap-y">
        {{ block "main" . }}{{ end }}
    </main>

    <footer class="bg-nav2 dark:bg-nav text-brand-700 dark:text-brand-200 p-4">
        {{ partial "footer.html" . }}
    </footer>
</body>
</html>
